.btn:focus {
    outline: none !important;
    box-shadow: none;
}


.home-color, .quem-color, .servicos-color, .contato-color {
    fill:#4D4D4D;
}

.home-color.linked     {fill:#F02E67;}
.quem-color.linked     {fill:#4C85C9;}
.servicos-color.linked {fill:#8F45A0;}
.contato-color.linked  {fill:#E86E34;}

#btn-contato:hover, #btn-contato.linked {
    color:#E86E34;
}

#btn-home:hover, #btn-home.linked {
    color:#F02E67;
}

#btn-quem:hover, #btn-quem.linked {
    color:#4C85C9;
}

#btn-servicos:hover, #btn-servicos.linked {
    color:#8F45A0;
}